<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:replace="${title}"></title>
    <link href="../static/image/gc.jpg" th:href="@{/image/gc.jpg}" rel="icon" type="image/x-ico">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/semantic-ui/2.2.10/semantic.min.css">
    <link rel="stylesheet" href="../static/lib/editormd/css/editormd.min.css" th:href="@{/lib/editormd/css/editormd.min.css}">
    <link rel="stylesheet" href="../static/css/me.css" th:href="@{/css/me.css}">
</head>
<body>

<!-- 导航 -->
<nav th:fragment="menu(n)" class="gird-header">
    <div class="ui container">
        <div class="ui inverted secondary stackable menu">
            <h2 class="ui teal header item" style="font-family: STSong,serif">Lnori</h2>
            <a href="#" class="m-item item m-mobile-hide" th:href="@{/}" th:classappend="${n==1} ? 'active'">
                <i class="home icon"></i>首页
            </a>
            <a href="#" class="m-item item m-mobile-hide" th:href="@{/type/-1}" th:classappend="${n==2} ? 'active'">
                <i class="clone outline icon"></i>分类
            </a>
            <a href="#" class="m-item item m-mobile-hide" th:href="@{/archives}" th:classappend="${n==3} ? 'active'">
                <i class="clock icon"></i>时间轴
            </a>
            <a href="#" class="m-item item m-mobile-hide" th:href="@{/message}" th:classappend="${n==4} ? 'active'">
                <i class="book icon"></i>留言板
            </a>
            <a href="#" class="m-item item m-mobile-hide" th:href="@{/picture}" th:classappend="${n==5} ? 'active'">
                <i class="image icon"></i>照片墙
            </a>
            <a href="#" class="m-item item m-mobile-hide" th:href="@{/about}" th:classappend="${n==6} ? 'active'">
                <i class="info icon"></i>关于我
            </a>
            <div class="right m-item item m-mobile-hide">
                <form action="#" name="search" th:action="@{/search}">
                    <div class="ui icon transparent input m-margin-tb-tiny" style="color: white">
                        <label>
                            <input style="color: white" type="text" name="search" placeholder="Search..." th:value="${search}">
                        </label>
                        <i onclick="document.forms['search'].submit()" class="search link icon"></i>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <button id="menu" class="ui black icon button m-right-top m-mobile-show">
        <i class="sidebar icon"></i>
    </button>
</nav>

<!-- 底部footer -->
<footer th:fragment="footer" class="ui inverted vertical segment m-padded-tb-massive m-opacity">
    <div class="ui center aligned container">
        <div class="ui inverted divided stackable grid">

            <div class="four wide column">
                <div style="font-size: large;font-weight: bold" class="ui inverted m-text-thin m-text-spaced m-margin-top-max" >联系我</div>
                <div class="ui inverted link list">
                    <div href="#" class="m-text-thin">QQ：3232881573</div>
                    <div href="#" class="m-text-thin">Email：3232881573@qq.com</div>
                </div>
            </div>

            <div class="four wide column" >
                <div class="ui inverted link list">
                    <div class="item">
                        <!--微信二维码-->
                        <div style="font-size: large;font-weight: bold" class="ui inverted m-text-thin m-text-spaced " >微信</div>
                        <img src="../static/image/weChat.jpg" th:src="@{/image/weChat.jpg}"  class="ui m-margin-top rounded image" alt="" style="width: 110px">
                    </div>
                </div>
            </div>

            <div class="four wide column">
                <div class="ui inverted link list">
                    <div class="item">
                        <!--微信二维码-->
                        <div style="font-size: large;font-weight: bold" class="ui inverted m-text-thin m-text-spaced " >QQ</div>
                        <img src="../static/image/qq.jpg" th:src="@{/image/qq.jpg}"  class="ui m-margin-top rounded image" alt="" style="width: 110px">
                    </div>
                </div>
            </div>

            <!--博客运行时间统计-->
            <div class="four wide column">
                <div style="font-size: large;font-weight: bold" class="ui inverted  m-text-thin m-text-spaced m-margin-top">碎片信息</div>
                <!--<p id="htmer_time" class="item m-text-thin"></p>-->
                <div id="blog-information">
                    <div class="ui inverted link list" style="align-content: center;margin-top: 10px" th:fragment="information">
                        <div class="m-text-thin">
                            文章总数：
                            <h2 class="ui orange header m-inline-block m-margin-top-null" style="font-size:medium;" th:text="${blogTotal}"> 14 </h2> 篇
                        </div>
                        <div class="m-text-thin">
                            访问总数：
                            <h2 class="ui orange header m-inline-block m-margin-top-null" style="font-size:medium;" th:text="${blogViewsTotal}"> 14 </h2> 次
                        </div>
                        <div class="m-text-thin">
                            评论总数：
                            <h2 class="ui orange header m-inline-block m-margin-top-null" style="font-size:medium;" th:text="${blogCommentTotal}"> 14 </h2> 条
                        </div>
                        <div class="m-text-thin">
                            留言总数：
                            <h2 class="ui orange header m-inline-block m-margin-top-null" style="font-size:medium;" th:text="${blogMessageTotal}"> 14 </h2> 条
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="ui inverted section divider"></div>
        <div style="color: #F08047;margin-top: -18px" class="ui inverted m-text-thin m-text-spaced">我的客栈已营业：<span id="htmer_time" class="item m-text-thin"></span> (*๓´╰╯`๓)</div>
        <a rel="nofollow" href="http://www.beian.miit.gov.cn" target="_blank">赣ICP备20004408号-1</a>
    </div>
</footer>

<!--/*/<th:block th:fragment="script">/*/-->
<script src="https://cdn.jsdelivr.net/npm/jquery@3.2/dist/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/semantic-ui/2.2.10/semantic.min.js"></script>
<script>
    $("#blog-information").load(/*[[@{/footer/blogInformation}]]*/"/footer/blogInformation");

    $("#menu").click(function () {
        $('.m-item').toggleClass('m-mobile-hide');
    });

    // 运行时间统计
    function secondToDate(second) {
        if (!second) {
            return 0;
        }
        let time = [0, 0, 0, 0, 0];
        if (second >= 365 * 24 * 3600) {
            time[0] = parseInt(second / (365 * 24 * 3600));
            second %= 365 * 24 * 3600;
        }
        if (second >= 24 * 3600) {
            time[1] = parseInt(second / (24 * 3600));
            second %= 24 * 3600;
        }
        if (second >= 3600) {
            time[2] = parseInt(second / 3600);
            second %= 3600;
        }
        if (second >= 60) {
            time[3] = parseInt(second / 60);
            second %= 60;
        }
        if (second > 0) {
            time[4] = second;
        }
        return time;
    }
    function setTime() {
        /*此处为网站的创建时间*/
        let create_time = Math.round(new Date(Date.UTC(2020, 9, 18, 15, 15, 15)).getTime() / 1000);
        let timestamp = Math.round((new Date().getTime() + 8 * 60 * 60 * 1000) / 1000);
        let currentTime = secondToDate((timestamp - create_time));
        document.getElementById("htmer_time").innerHTML = currentTime[0] + '年' + currentTime[1] + '天'
            + currentTime[2] + '时' + currentTime[3] + '分' + currentTime[4]
            + '秒';
    }
    setInterval(setTime, 1000);

</script>
<!--/*/</th:block>/*/-->

</body>
</html>